body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* uncomment viewport line */

main {
    display: flex; /* FIRST!!! dynamically fitting things onto the screen*/
}

/* COPIED */
section {
    margin: 10px;
    border: solid 1px #CCC;
    padding-bottom: 20px;
}
section h2, section p, section button {
    margin-left: 20px;
    margin-right: 20px;
}
section p {
    line-height: 1.4em; /*n ot essential */
}
section img {
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    main {
        flex-wrap: wrap; /* wrap around */
    }
    section {
        width: calc(50% - 20px); /* because we want two to fit */
    }
}

@media only screen and (max-width: 600px) {
    section {
        width: 100%; /* because we want just one to fit */
    }
}